MIClient/Connected Services/ServiceReferenceMI/ServiceMI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceMI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49993/ServiceMI.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49993/ServiceMI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49993/ServiceMI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyImageService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceMI_AdminLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminLogin" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_AdminLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_GetAdmins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdmins" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_GetAdmins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_GetOneOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneOrders" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_GetOneOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_UpdateStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatus" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_UpdateStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_SearchCustomerByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCustomerByName" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_SearchCustomerByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCustomerByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_GetPrintsizes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintsizes" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_GetPrintsizes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintsizesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_GetOnePrintsize_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOnePrintsize" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_GetOnePrintsize_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOnePrintsizeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_CreatePrintsizes_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePrintsizes" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_CreatePrintsizes_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePrintsizesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_DeletePrintsizes_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrintsizes" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_DeletePrintsizes_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrintsizesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_UpdatePrintsize_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrintsize" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_UpdatePrintsize_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrintsizeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_ValidatePrintSize_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePrintSize" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_ValidatePrintSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePrintSizeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_SearchPrintSizebyName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPrintSizebyName" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_SearchPrintSizebyName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPrintSizebyNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceMI">
    <wsdl:operation name="AdminLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMI/AdminLogin" message="tns:IServiceMI_AdminLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMI/AdminLoginResponse" message="tns:IServiceMI_AdminLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdmins">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMI/GetAdmins" message="tns:IServiceMI_GetAdmins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMI/GetAdminsResponse" message="tns:IServiceMI_GetAdmins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMI/GetOrders" message="tns:IServiceMI_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMI/GetOrdersResponse" message="tns:IServiceMI_GetOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMI/GetOneOrders" message="tns:IServiceMI_GetOneOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMI/GetOneOrdersResponse" message="tns:IServiceMI_GetOneOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMI/UpdateStatus" message="tns:IServiceMI_UpdateStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMI/UpdateStatusResponse" message="tns:IServiceMI_UpdateStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMI/GetCustomers" message="tns:IServiceMI_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMI/GetCustomersResponse" message="tns:IServiceMI_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCustomerByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMI/SearchCustomerByName" message="tns:IServiceMI_SearchCustomerByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMI/SearchCustomerByNameResponse" message="tns:IServiceMI_SearchCustomerByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrintsizes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMI/GetPrintsizes" message="tns:IServiceMI_GetPrintsizes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMI/GetPrintsizesResponse" message="tns:IServiceMI_GetPrintsizes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOnePrintsize">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMI/GetOnePrintsize" message="tns:IServiceMI_GetOnePrintsize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMI/GetOnePrintsizeResponse" message="tns:IServiceMI_GetOnePrintsize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePrintsizes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMI/CreatePrintsizes" message="tns:IServiceMI_CreatePrintsizes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMI/CreatePrintsizesResponse" message="tns:IServiceMI_CreatePrintsizes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePrintsizes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMI/DeletePrintsizes" message="tns:IServiceMI_DeletePrintsizes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMI/DeletePrintsizesResponse" message="tns:IServiceMI_DeletePrintsizes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePrintsize">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMI/UpdatePrintsize" message="tns:IServiceMI_UpdatePrintsize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMI/UpdatePrintsizeResponse" message="tns:IServiceMI_UpdatePrintsize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePrintSize">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMI/ValidatePrintSize" message="tns:IServiceMI_ValidatePrintSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMI/ValidatePrintSizeResponse" message="tns:IServiceMI_ValidatePrintSize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPrintSizebyName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMI/SearchPrintSizebyName" message="tns:IServiceMI_SearchPrintSizebyName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMI/SearchPrintSizebyNameResponse" message="tns:IServiceMI_SearchPrintSizebyName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceMI" type="tns:IServiceMI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdminLogin">
      <soap:operation soapAction="http://tempuri.org/IServiceMI/AdminLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdmins">
      <soap:operation soapAction="http://tempuri.org/IServiceMI/GetAdmins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="http://tempuri.org/IServiceMI/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneOrders">
      <soap:operation soapAction="http://tempuri.org/IServiceMI/GetOneOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <soap:operation soapAction="http://tempuri.org/IServiceMI/UpdateStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/IServiceMI/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCustomerByName">
      <soap:operation soapAction="http://tempuri.org/IServiceMI/SearchCustomerByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrintsizes">
      <soap:operation soapAction="http://tempuri.org/IServiceMI/GetPrintsizes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnePrintsize">
      <soap:operation soapAction="http://tempuri.org/IServiceMI/GetOnePrintsize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePrintsizes">
      <soap:operation soapAction="http://tempuri.org/IServiceMI/CreatePrintsizes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePrintsizes">
      <soap:operation soapAction="http://tempuri.org/IServiceMI/DeletePrintsizes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePrintsize">
      <soap:operation soapAction="http://tempuri.org/IServiceMI/UpdatePrintsize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePrintSize">
      <soap:operation soapAction="http://tempuri.org/IServiceMI/ValidatePrintSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPrintSizebyName">
      <soap:operation soapAction="http://tempuri.org/IServiceMI/SearchPrintSizebyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMI">
    <wsdl:port name="BasicHttpBinding_IServiceMI" binding="tns:BasicHttpBinding_IServiceMI">
      <soap:address location="http://localhost:49993/ServiceMI.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>