MIClient/Connected Services/ServiceReferenceMI/ServiceMI3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MIData.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MIData.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="cus_add" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cus_dob" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="cus_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cus_fname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cus_gender" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="cus_id" type="xs:int" />
      <xs:element minOccurs="0" name="cus_lname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cus_pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cus_phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pass_confirm" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfFollowedOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FollowedOrder" nillable="true" type="tns:FollowedOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFollowedOrder" nillable="true" type="tns:ArrayOfFollowedOrder" />
  <xs:complexType name="FollowedOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Payment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipOrder" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FollowedOrder" nillable="true" type="tns:FollowedOrder" />
  <xs:complexType name="Recipient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Delivery" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" type="xs:int" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recipient" nillable="true" type="tns:Recipient" />
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVC" type="xs:int" />
      <xs:element minOccurs="0" name="CardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiredDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
  <xs:complexType name="MImages">
    <xs:sequence>
      <xs:element minOccurs="0" name="Folder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MImageList" nillable="true" type="tns:ArrayOfMImage" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MImages" nillable="true" type="tns:MImages" />
  <xs:complexType name="ArrayOfMImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MImage" nillable="true" type="tns:MImage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMImage" nillable="true" type="tns:ArrayOfMImage" />
  <xs:complexType name="MImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Copies" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MImage" nillable="true" type="tns:MImage" />
</xs:schema>