MIClient/Connected Services/ServiceReferenceMI/ServiceMI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceMI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49993/ServiceMI.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49993/ServiceMI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49993/ServiceMI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyImageService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceMI_AdminLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminLogin" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_AdminLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_GetAdmins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdmins" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_GetAdmins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="IServiceMI_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceMI">
    <wsdl:operation name="AdminLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMI/AdminLogin" message="tns:IServiceMI_AdminLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMI/AdminLoginResponse" message="tns:IServiceMI_AdminLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdmins">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMI/GetAdmins" message="tns:IServiceMI_GetAdmins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMI/GetAdminsResponse" message="tns:IServiceMI_GetAdmins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMI/GetCustomers" message="tns:IServiceMI_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMI/GetCustomersResponse" message="tns:IServiceMI_GetCustomers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceMI" type="tns:IServiceMI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdminLogin">
      <soap:operation soapAction="http://tempuri.org/IServiceMI/AdminLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdmins">
      <soap:operation soapAction="http://tempuri.org/IServiceMI/GetAdmins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/IServiceMI/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMI">
    <wsdl:port name="BasicHttpBinding_IServiceMI" binding="tns:BasicHttpBinding_IServiceMI">
      <soap:address location="http://localhost:49993/ServiceMI.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>