MIClient/Connected Services/ServiceReferenceMI/ServiceMI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyImageService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyImageService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftb_admin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tb_admin" nillable="true" type="tns:tb_admin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftb_admin" nillable="true" type="tns:ArrayOftb_admin" />
  <xs:complexType name="tb_admin">
    <xs:sequence>
      <xs:element minOccurs="0" name="ad_id" type="xs:int" />
      <xs:element minOccurs="0" name="ad_password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ad_username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tb_admin" nillable="true" type="tns:tb_admin" />
</xs:schema>